{{ define "main" }}

{{ $currentDate := time.Now }}

{{ $offers := .Pages }}

<main class="flex-fill container" aria-role="main">
<aside class="mt-4">
    {{ partial "l18nlist.html" . }}
</aside>

<article>
    <header>
        <h1>{{ .Title }}</h1>
    </header>

    {{ with .Content }}
    <section>{{ . }}</section>
    {{ end }}
    

    <section>
    <ul class="row list-unstyled">

    {{ range $offers }}

    {{/* Show only offers with unspecified expiration date and still valid offers */}}
    {{ if or (eq .Params.closingDate nil) (gt (.Params.closingDate | time) $currentDate) }}
    <li class="mt-4 col-12">
        <a class="text-decoration-none" href="{{ .Permalink }}">
            <div class="card card-hover" style="height:100%">
                <div class="card-body">
                    <h4 class="card-title">{{ .Title | title }}</h4>
                    <div class="card-text">
                        <ul class="d-flex flex-column list-unstyled">
                            {{ with .Params.position }}
                            <li><strong>Position:</strong> {{ . | title }}</li>
                            {{ end }}

                            {{ with .Params.employmentType }}
                            <li><strong>Contract:</strong> {{ . | title }}</li>
                            {{ end }}

                            {{ with .Params.contractType }}
                            <li><strong>Employment:</strong> {{ . | title }}</li>
                            {{ end }}

                            {{ with .Params.location }}
                            <li><strong>Location:</strong> {{ . | title }}</li>
                            {{ end }}

                            {{ with .Params.salary }}
                            <li><strong>Salary:</strong> {{ . }}</li>
                            {{ end }}

                            {{ with .Params.closingDate }}
                            <li><strong>Application deadline:</strong> {{ . | time.Format ":date_full" }}</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </a>
    </li>
    {{ end }}
    {{ end }}

    </ul>
    </section>



</main>
{{ end }}
