{{ define "main" }}

<aside class="container mt-4">
    <a href="{{ .Parent.RelPermalink }}" class="">&larr; Back to opportunities</a>
</aside>

<main class="container flex-fill post" aria-role="main">

<article class="mt-4">
    <header>
        <h1>{{ .Title | title }}</h1>
    </header>

    <section class="mt-4">
        <ul class="d-flex flex-column list-unstyled">
            {{ with .Params.position }}
            <li><strong>Position:</strong> {{ . | title }}</li>
            {{ end }}

            {{ with .Params.employmentType }}
            <li><strong>Contract:</strong> {{ . | title }}</li>
            {{ end }}

            {{ with .Params.contractType }}
            <li><strong>Employment:</strong> {{ . | title }}</li>
            {{ end }}

            {{ with .Params.location }}
            <li><strong>Location:</strong> {{ . | title }}</li>
            {{ end }}

            {{ with .Params.salary }}
            <li><strong>Salary:</strong> {{ . }}</li>
            {{ end }}

            {{ with .Params.closingDate }}
            <li><strong>Application deadline:</strong> {{ . | time.Format ":date_full" }}</li>
            {{ end }}
        </ul>
    </section>

    {{ with .Content }}
    <section class="mt-4">{{ . }}</section>
    {{ end }}

</article>
</main>
{{ end }}
