baseURL = "/"

title = "SensorLab"

languageCode = "en"
defaultContentLanguage = "en"


enableEmoji = true
enableGitInfo = false
enableRobotsTXT = true
canonifyURLs = true

copyright = "SensorLab"

# themes = "future-imperfect"





[build]
  writeStats = true

[params]
    author = "SensorLab"
    description = "SensorLab at Jozef Stefan Institute - Research in artificial intelligence, communications and computing."
    github = "https://github.com/sensorlab"

    inlineCSS = false
    toc = true

    opengraph = true
    dateFormat = "Mon, Jan 2, 2006"

    ISO8061 = "2006-01-02T15:04:05Z07:00"


[languages]
    [languages.en]
        languageName = "English"
        title = "SensorLab — Jozef Stefan Institute"
        weight = 1

    [languages.sl]
        languageName = "Slovensko"
        title = 'SensorLab — Institut "Jožef Stefan"'
        weight = 2


[taxonomies]
    category = "categories"
    series = "series"
    tag = "tags"

[sitemap]
    changefreq = "weekly"
    priority = 0.5

[permalinks]
    posts = "/:year/:month/:slug/"
    page = "/:slug/"



#[[menu.main]]
#    name = "Research"
#    indentifier = "research"
#    url = "/research"
#    weight = 1

[[menu.main]]
    name = "Projects"
    indentifier = "projects"
    url = "/projects"
    weight = 2

[[menu.main]]
    name = "Results"
    indentifier = "results"
    url = "/results"
    weight = 3

[[menu.main]]
    name = "Publications"
    indentifier = "publications"
    url = "/publications"
    weight = 4

[[menu.main]]
    name = "People"
    indentifier = "people"
    url = "/people"
    weight = 5

#[[menu.main]]
#    name = "Blog"
#    indentifier = "blog"
#    url = "/posts"
#    weight = 6

[[menu.main]]
    name = "Join Us"
    indentifier = "opportunities"
    url = "/opportunities"
    weight = 6

[[menu.main]]
    name = "About"
    indentifier = "about"
    url = "/about"
    weight = 7


[security]
  enableInlineShortcodes = true
  [security.exec]
    allow = ['^dart-sass-embedded$', '^go$', '^babel$', '^npx$', '^postcss$']
    osEnv = ['(?i)^(PATH|PATHEXT|APPDATA|TMP|TEMP|TERM)$']

  [security.funcs]
    getenv = ['^HUGO_']

  [security.http]
    methods = ['(?i)GET|POST']
    urls = ['.*']


[[module.mounts]]
source = "node_modules/bootstrap-icons/font/fonts"
target = "static/fonts"