{{ define "main" }}
<main class="flex-fill container" aria-role="main">
    <header class="mt-4">
        <h1>{{ .Title }}</h1>
    </header>

    <section class="list-group my-5">
        {{ range .Paginator.Pages }}
            <a href="{{ .Permalink }}" class="list-group-item list-group-item-action flex-column align-items-start">
                <header class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ .Title }}</h5>
                    <small>{{ .Date }}</small>
                </header>
                <p class="mb-1">{{ .Summary }}</p>
                <small>{{ .Lastmod }}</small>
            </a>
        {{ end }}
    </section>


    <nav class="">
        <nav class="d-flex d-content justify-content-center">
            {{ template "_internal/pagination.html" . }}
        </nav>
    </nav>

</main>
{{ end }}
