{{ define "main" }}
<main class="flex-fill container" aria-role="main">
    <aside class="mt-4">
        {{ partial "l18nlist.html" . }}
        {{ if and (gt .WordCount 400) (.Params.toc) }}
        <header>
            <h2>{{.Title}}</h2>
            {{ .TableOfContents }}
        </header>
        {{ end }}
    </aside>

    <article>
        <header>
            <h1>{{ .Title }}</h1>
        </header>
    
        <section>
            {{ .Content }}
        </section>
    
        <section class="list-group my-5">
        {{ range .Paginator.Pages }}
            <a href="{{ .Permalink }}" class="list-group-item list-group-item-action flex-column align-items-start">
                <header class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ .Title }}</h5>
                    {{ $date := .PublishDate | default .Date  }}
                    <small><time datetime="{{ $date.Format "2006-01-02T15:04:05Z0700" }}">{{ $date | time.Format ":date_full" }}</time></small>
                </header>
                <p class="mb-1">{{ .Summary }}</p>
                {{ $date :=  .Lastmod }}
                <small><time datetime="{{ $date.Format "2006-01-02T15:04:05Z0700" }}">{{ $date | time.Format ":date_full" }}</time></small>
            </a>
        {{ end }}
        </section>
    </article>

    {{ if .Paginator }}
    <nav class="d-flex d-content justify-content-center">
        {{ partial "pagination.html" . }}
    </nav>
    {{ end }}

</main>
{{ end }}
