{{ define "main" }}

{{ $date := .PublishDate | default .Date }}


<main class="flex-fill container post my-4" aria-role="main">
    <aside class="my-4">
        {{ partial "l18nlist.html" . }}
        {{ if and (gt .WordCount 400) (.Params.toc) }}
        <header>
            <h2>{{.Title}}</h2>
            {{ .TableOfContents }}
        </header>
        {{ end }}
    </aside>

    <article class="mt-4">
        <header>
            <h1>{{ .Title }}</h1>
            <p>
                <span>{{ i18n "published" . | title }}: <time datetime="{{ $date.Format "2006-01-02T15:04:05Z0700" }}">{{ $date | time.Format ":date_full" }}</time></span>
            </p>
        </header>

        {{ with .Content }}
        <section class="my-4">{{ . }}</section>
        {{ end }}

    </article>
</main>
{{ end }}
