<li>
    <a href="{{ .Permalink }}" class="text-decoration-none">
        {{- with .Params.prefix -}}
            <small class="text-body-secondary">{{ . }}</small>&nbsp;
        {{- end -}}
        {{- .Params.title -}}
        {{- with index .Params.organizations 0 -}}
            <small class="text-body-secondary">, {{ .name | markdownify | title -}}</small>
        {{- end -}}
    </a>
</li>


{{/*  

{{- $resource := .Resources.GetMatch .Params.avatar -}}
{{- $img := $resource.Fill "150x150 jpeg q90" -}}


<li class="p-2 align-items-stretch" style="max-width:150px;">
    <a href="{{ .Permalink }}" class="link-unstyled">
        <div class="card" style="height:100%">
            <img
                src="{{ $img.Permalink }}"
                width="{{ $img.Width }}"
                height="{{ $img.Height }}"
                class="card-img-top"
                loading="lazy"
            />
            <div class="card-body text-center">
                <h5 class="card-title">
                    {{- with .Params.prefix -}}
                        <small class="text-body-secondary">{{ . }}</small>&nbsp;
                    {{- end -}}
                    {{- .Params.title -}}
                </h5>
                {{- with index .Params.organizations 0 -}}
                    <p class="card-text">{{ .name | markdownify | title }}</p>
                {{- else -}}
                    <p class="card-text">No organization information available</p>
                {{- end -}}
            </div>
        </div>
    </a>
</li>

*/}}