{{ define "main" }}

<main class="flex-fill container my-4" aria-role="main">
    <section>
        <h1>Members</h1>
        <ul class="list-unstyled row d-flex align-items-stretch justify-content-center justify-content-sm-start my-2">
        {{ range sort .Pages ".Params.position" "desc" }}
            {{ if not (in .Params.user_groups "alumni") }}
                {{ .Render "member" }}
            {{ end }}
        {{ end }}
        </ul>
    </section>

    <hr class="bg-primary border-2 border-top border-primary">

    <section>
        <h1>Alumni</h1>
        <ul class="list-unstyled">
        {{ range sort .Pages ".Params.title" "asc" }}
            {{ if in .Params.user_groups "alumni" }}
                {{ .Render "alumni" }}
            {{ end }}
        {{ end }}
        </ul>
    </section>

</main>
{{ end }}
