{{ define "main" }}

<main class="flex-fill container my-4" aria-role="main">
    <h1>{{ .Title }}</h1>

    <div class="row d-flex align-items-baseline justify-content-center my-2">
    {{ range sort .Pages ".Params.position" "asc" }}
        {{ if in .Params.user_groups "leaders" }}
            {{ .Render "member" }}
        {{ end }}
    {{ end }}
    </div>


    <div class="row d-flex align-items-baseline justify-content-center my-2">
    {{ range sort .Pages ".Params.position" "asc" }}
        {{ if (in .Params.user_groups "researchers") | and (not (intersect .Params.user_groups (slice "leaders" "alumni"))) }}
            {{ .Render "member" }}
        {{ end }}
    {{ end }}
    </div>

    <hr class="bg-primary border-2 border-top border-primary">

    <div class="row d-flex align-items-baseline justify-content-center">
    {{ range sort .Pages ".Params.position" "asc" }}
        {{ if in .Params.user_groups "alumni" }}
            {{ .Render "alumni" }}
        {{ end }}
    {{ end }}
    </div>


</main>
{{ end }}
