{{ $resource := .Resources.GetMatch .Params.avatar }}
{{ $img := $resource.Fill "250x250 q90" }}
<a class="remove-styling p-2 align-items-stretch" style="max-width:250px;" href="#">
    <div class="card" style="height:100%">
        <img class="card-img-top" src="{{ $img.Permalink }}" loading="lazy">
        <div class="card-body text-center">
            <h5 class="card-title">
                {{- with .Params.prefix -}}
                    <small class="text-muted">{{ . }}</small>&nbsp;
                {{- end -}}
                {{- .Params.title -}}
            </h5>
            <p class="card-text">{{ .Params.role | markdownify | title }}</p>
        </div>
    </div>
</a>
