{{ define "main" }}
{{ $member := .Params }}


{{ $employed := true }}
{{ with .Params.date_end }}
    {{ with (time .) }}
        {{ $employed = .After now }}
    {{ end }}
{{ end }}

<aside class="container mt-4">
    <a href="{{ .Parent.RelPermalink }}" class="">&larr; See other members</a>
</aside>

<main class="flex-fill container my-4" aria-role="main">
<article>
    <header class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
        {{ $resource := .Resources.GetMatch .Params.avatar }}
        {{ $img := $resource.Fill "200x200 jpeg q90" }}
        <img
            src="{{ $img.Permalink }}"
            width="{{ $img.Width }}"
            height="{{ $img.Height }}"
            class="rounded-3 mx-2"
            alt="Photo of {{ $member.title }}"
            loading="lazy"
        >
        <div class="px-2">
            <h2>
                {{- with .Params.prefix -}}<small class="text-body-secondary">{{ . }}</small>&nbsp;{{- end -}}
                {{- .Params.name | default .Params.title -}}
            </h2>

            <ul class="list-unstyled">
                {{- with .Params.role -}}
                <li><strong>Role:</strong>&nbsp;{{ . | title }}</li>
                {{- end -}}

                {{- with $member.date_start -}}
                <li><strong>Joined:</strong>&nbsp;{{ ( time . ).Format "January, 2006" }}</li>
                {{- end -}}

                {{- with $member.date_end -}}
                <li><strong>Departed:</strong>&nbsp;{{ ( time . ).Format "January, 2006" }}</li>
                {{- end -}}

                {{ with $member.organizations }}
                <li>
                    <strong>Affiliations:</strong>&nbsp;
                    {{- $list := slice -}}
                    {{- range . -}}
                        {{- $list = $list | append (printf "<a href='%s'>%s</a>" (.url | safeURL) .name) -}}
                    {{- end -}}

                    {{- delimit $list ", " -}}
                </li>
                {{ end }}

                {{- with $member.interests -}}
                <li><strong>Research Interests:</strong>&nbsp;{{ delimit . ", " ", and " }}.</li>
                {{- end -}}

                {{/*
                {{- with $member.social -}}
                <li>
                    <strong>Social:</strong>&nbsp;
                    {{- $list := slice -}}
                    {{- range . -}}
                        {{- $list = $list | append (printf `<a href="%s"></i>%s</a>` (.link | safeURL) .text) -}}
                    {{- end -}}
                    {{- delimit $list " " -}}
                </li>
                {{- end -}}
                */}}

            </ul>
        </div>
    </header>

    {{ with .Content }}
    <section class="mt-4">
        {{ . }}
    </section>
    {{ end }}


{{ if $member.cobiss }}

    {{ $publications := slice }}
    {{ range $publication := $.Site.Data.cobiss }}
        {{ range $author := $publication.authors }}
            {{ if eq (int $author.cobiss_id) (int $member.cobiss) }}
                {{ $publications = $publications | append $publication }}
            {{ end }}
        {{ end }}
    {{ end }}


{{/*
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Title</th>
                <th scope="col">Authors</th>
                <th scope="col">Cross-links</th>
            </tr>
        </thead>
        <tbody>

            {{ $mypub := slice }}
            {{ range $pub := $publications }}
                <!-- Journals -->
                {{ if eq $pub.code "1.01" }}
                    {{ $mypub = $mypub | append $pub }}
                {{ end }}

                <!-- Conferences -->
                {{ if eq $pub.code "1.08" }}
                    {{ $mypub = $mypub | append $pub }}
                {{ end }}

                <!-- Books -->
                {{ if and (eq $pub.code "2.01") (or (ne $pub.doi "") (ne $pub.isbn "")) }}
                    {{ $mypub = $mypub | append $pub }}
                {{ end }}

                <!-- Chapters -->
                {{ if and (eq $pub.code "1.06") (or (ne $pub.doi "") (ne $pub.isbn "")) }}
                    {{ $mypub = $mypub | append $pub }}
                {{ end }}


            {{ end }}


            {{ range $index, $pub := $mypub }}
            <tr>
                <th scope="row" class="text-end">{{ sub (len $mypub) $index }}</th>
                <td>
                    {{- if eq $pub.code "1.01" -}}
                        Journal
                    {{- else if eq $pub.code "1.08" -}}
                        Conference
                    {{- else if eq $pub.code "preprint" -}}
                        Preprint
                    {{- else if eq $pub.code "2.01" -}}
                        Book
                    {{- else if eq $pub.code "1.06" -}}
                        Chapter
                    {{- end -}}
                </td>
                <td>{{ .title | title }}</td>
                <td>
                    {{- $authors := slice -}}
                    {{- range $author := $pub.authors -}}
                        {{- if eq (int $author.cobiss_id) (int $member.cobiss) -}}
                            {{- $authors = $authors | append (printf "<strong><u>%s</u></strong>" ($author.name)) -}}
                        {{- else -}}
                            {{- $authors = $authors | append (printf "%s" ($author.name)) -}}
                        {{- end -}}
                    {{- end -}}
                    
                    {{- delimit $authors ", " ", and " -}}
                </td>

                <td>
                    <ul class="list-inline">
                        {{- if and .cobiss_id .cobiss_url -}}
                        <li class="list-inline-item">
                            <a class="badge bg-cobiss text-white link-unstyled" href="{{ .cobiss_url }}">COBISS:&nbsp;{{ .cobiss_id }}</a>
                        </li>
                        {{- end -}}
                        {{- if .doi -}}
                        <li class="list-inline-item">
                            <a class="badge bg-doi text-black link-unstyled" href="https://doi.org/{{ .doi }}">DOI:&nbsp;{{ .doi }}</a>
                        </li>
                        {{- end -}}
                        {{- if .isbn }}
                        <li class="list-inline-item">
                            <div class="badge bg-info text-black link-unstyled">ISBN:&nbsp;{{ .isbn }}</div>
                        </li>
                        {{- end -}}
                        {{- if .arxiv_id }}
                        <li class="list-inline-item">
                            <a class="badge bg-arxiv text-white link-unstyled" href="https://arxiv.org/abs/{{ .arxiv_id }}">arXiv:{{ .arxiv_id }}</a>
                        </li>
                        {{- end -}}
                    </ul>
                </td>

            </tr>
            {{ end }}
        </tbody>
    </table>

*/}}
    



    {{ if $publications }}
        <section class="mt-4">
            <h3>Publications:</h3>
            {{ $p := slice "1.01" "1.08" "preprint" }}
            <ul class="list-group list-group-flush">
            
            {{ range $publication := where $publications ".code" "in" $p }}
                <li class="list-group-item publication">
                    <div class="title"><strong>{{ .title | title }}</strong></div>
                    
                    <div class="authors">
                        {{- $authors := slice -}}
                        {{ range $author := $publication.authors -}}
                            {{- if eq (int $author.cobiss_id) (int $member.cobiss) -}}
                                {{- $authors = $authors | append (printf "<strong><u>%s</u></strong>" ($author.name)) -}}
                            {{- else -}}
                                {{- $authors = $authors | append (printf "%s" ($author.name)) -}}
                            {{- end -}}
                        {{- end -}}
                        
                        {{- delimit $authors ", " ", and " -}}
                    
                    </div>

                    {{ if or .journal .conference }}
                        <div class="publication">{{ .journal | default .conference }}, {{ .year }}</div>
                    {{ end }}
                
                    <ul class="list-inline">
                        {{- if and .cobiss_id .cobiss_url -}}
                        <li class="list-inline-item">
                            <a class="badge bg-cobiss text-white link-unstyled" href="{{ .cobiss_url | safeURL }}">COBISS:&nbsp;{{ .cobiss_id }}</a>
                        </li>
                        {{- end -}}
                        {{- if .doi -}}
                        <li class="list-inline-item">
                            <a class="badge bg-doi text-black link-unstyled" href="https://doi.org/{{ .doi }}">DOI:&nbsp;{{ .doi }}</a>
                        </li>
                        {{- end -}}
                        {{- if and .arxiv_id .arxiv_url }}
                        <li class="list-inline-item">
                            <a class="badge bg-arxiv text-white link-unstyled" href="{{ .arxiv_url | safeURL }}">arXiv:{{ .arxiv_id }}</a>
                        </li>
                        {{- end -}}
                    </ul>
                </li>
            {{ end }}
            </ul>
        </section>

    {{ end }}
{{ end }}


</article>
</main>
{{ end }}
