{{/*
{{- $authors = $authors | append (printf "%s. %s" (substr .first_name 0 1) .last_name) -}}    
*/}}

{{- $authors := slice -}}
{{- range sort .authors ".order" "asc" -}}
    {{ if .is_employee }}
        {{- $authors = $authors | append (printf "<u>%s</u>" .name) -}}
    {{ else }}
        {{- $authors = $authors | append (printf "%s" .name) -}}
    {{ end }}

{{- end -}}

<li class="list-group-item publication">
    <div class="title"><strong>{{ .title | title }}</strong></div>
    <div class="authors">{{- delimit $authors ", " -}}</div>
    {{ if or .journal .conference }}
    <div class="publication">{{ .journal | default .conference }}, {{ .year }}</div>
    {{ end }}

    <ul class="list-inline">
        {{- if and .cobiss_id .cobiss_url -}}
        <li class="list-inline-item">
            <a class="badge bg-cobiss text-white link-unstyled" href="{{ .cobiss_url }}">COBISS:&nbsp;{{ .cobiss_id }}</a>
        </li>
        {{- end -}}
        {{- if .doi -}}
        <li class="list-inline-item">
            <a class="badge bg-doi text-black link-unstyled" href="https://doi.org/{{ .doi }}">DOI:&nbsp;{{ .doi }}</a>
        </li>
        {{- end -}}
        {{- if .arxiv_id }}
        <li class="list-inline-item">
            <a class="badge bg-arxiv text-white link-unstyled" href="https://arxiv.org/abs/{{ .arxiv_id }}">arXiv:{{ .arxiv_id }}</a>
        </li>
        {{- end -}}
    </ul>
</li>