{{- $authors := slice -}}
{{- range sort .authors ".order" "asc" -}}
    {{- $authors = $authors | append (printf "%s. %s" (substr .first_name 0 1) .last_name) -}}
{{- end -}}

<li class="list-group-item publicaton">
    <div class="title"><strong>{{ .title | title }}</strong></div>
    <div class="authors">{{- delimit $authors ", " ", and " -}}</div>
    <div class="publication">{{ .journal | default .conf_title | title }}</div>
    <ul class="list-unstyled d-flex flex-wrap gap-1 access">
        {{- if .doi -}}
            <li>[DOI:&nbsp;<a href="https://doi.org/{{ .doi }}">{{ .doi }}</a>]</li>
        {{- end -}}
        {{- if and .cobiss_id .cobiss_url -}}
            <li>[COBISS:&nbsp;<a href="{{ .cobiss_url }}">{{ .cobiss_id }}</a>]</li>
        {{- end -}}
        {{- if .arxiv_id }}
            <li>[arXiv:&nbsp;<a href="https://arxiv.org/abs/{{ .arxiv_id }}">{{ .arxiv_id }}</a>]</li>
        {{- end -}}
    </ul>
</li>