{{/*
{{- $authors = $authors | append (printf "%s. %s" (substr .first_name 0 1) .last_name) -}}    
*/}}

{{- $authors := slice -}}
{{- range sort .authors ".order" "asc" -}}
    {{ if .is_employee }}
        {{- $authors = $authors | append (printf "<u>%s</u>" .name | safeHTML) -}}
    {{ else }}
        {{- $authors = $authors | append (printf "%s" .name | safeHTML) -}}
    {{ end }}

{{- end -}}

<li class="list-group-item publication">
    <div class="title"><strong>{{ .title | title }}</strong></div>
    <div class="authors">{{- delimit $authors ", " | safeHTML -}}</div>
    <div class="publication">
        {{- if or .journal .conference }}
            {{- .journal | default .conference | title }},&nbsp;
        {{- end -}}
        {{- .year -}}
    </div>

    <ul class="list-inline">
        {{- if and .cobiss_id .cobiss_url -}}
        <li class="list-inline-item">
            <a class="badge bg-cobiss text-white link-unstyled" href="{{ .cobiss_url }}">COBISS:&nbsp;{{ .cobiss_id }}</a>
        </li>
        {{- end -}}
        {{- if .doi -}}
        <li class="list-inline-item">
            <a class="badge bg-doi text-black link-unstyled" href="https://doi.org/{{ .doi }}">DOI:&nbsp;{{ .doi }}</a>
        </li>
        {{- end -}}
        {{- if .isbn }}
        <li class="list-inline-item">
            <div class="badge bg-info text-black link-unstyled">ISBN:&nbsp;{{ .isbn }}</div>
        </li>
        {{- end -}}
        {{- if .arxiv_id }}
        <li class="list-inline-item">
            <a class="badge bg-arxiv text-white link-unstyled" href="https://arxiv.org/abs/{{ .arxiv_id }}">arXiv:{{ .arxiv_id }}</a>
        </li>
        {{- end -}}

    </ul>
</li>