@charset "utf-8";

// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./node_modules/bootstrap/scss/functions";


// 2. Include any default variable overrides here
$color1: #17BEBC;
$color2: #1270B4;

$blue:    #1270B4;//#0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #17BEBC;//#0dcaf0;


// Fix the toggle button color
$navbar-light-color: rgba(white, .75);
$navbar-light-icon-color: rgba(white, .75);
$navbar-light-toggler-border-color: rgba(white, .75);

//$primary:        #1270B4;
//$secondary:     $gray-600 !default;
//$success:       $green !default;
//$info:          #17BEBC;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-900 !default;

//$navbar-dark-color: rgba(#fff, .90);
//$navbar-dark-hover-color: rgba(#fff, 1.00);


//@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,300;0,400;0,700');
//$font-family-sans-serif: "Public Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";


// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";


// 4. Include any default map overrides here


// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";



//@import "./node_modules/bootstrap/scss/root";
//@import "./node_modules/bootstrap/scss/reboot";
//@import "./node_modules/bootstrap/scss/type";
//@import "./node_modules/bootstrap/scss/images";
//@import "./node_modules/bootstrap/scss/containers";
//@import "./node_modules/bootstrap/scss/grid";
//@import "./node_modules/bootstrap/scss/bootstrap";


// 6. Optionally include any other parts as needed
//@import "../node_modules/bootstrap/scss/utilities";
//@import "../node_modules/bootstrap/scss/reboot";
//@import "../node_modules/bootstrap/scss/type";
//@import "../node_modules/bootstrap/scss/images";
//@import "../node_modules/bootstrap/scss/containers";
//@import "../node_modules/bootstrap/scss/grid";
//@import "../node_modules/bootstrap/scss/helpers";

@import "./node_modules/bootstrap/scss/bootstrap";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
//@import "../node_modules/bootstrap/scss/utilities/api";



// 8. Add additional custom code here
@import "highlight";

//$bootstrap-icons-font-dir: "../../node_modules/bootstrap-icons/font";
//@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
//@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");

/*:root {
    --sl-gradient: gradient-x($blue, $cyan);
}*/

body, html {
    // Reuse classes from Bootstrap 5.
    @extend .min-vh-100;
    @extend .d-flex;
    @extend .flex-column;

    //min-height: 100vh;
    //display: flex;
    //flex-direction: column;
}

.logo-big {
  max-width: 500px;
}


.featured img {
    max-height: 12em;
}




.text-justify {
  text-align: justify;
}

.full {
  display: none;
}

.read-more ~ label {
  cursor: pointer;
}

.read-more {
  display: none;

  & ~ label:after {
    content: "More \00BB";
  }

  &:checked ~ label:after {
    content: "Less \00AB";
  }
}

.read-more:checked {
  & ~ .full { display: inline-block;}
  & ~ .summary { display: none;}
}



$custom-colors: (
  "doi":    #fcb426,
  "arxiv":  #b31b1b,
  "cobiss": #004461,
);


@each $color, $value in $custom-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }

  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }

  .bg-#{$color} {
    background-color: $value;
  }

}


.text-decoration-none {
  &:hover, &:active, &:visited, &:link {
    text-decoration: none;
  }
}

.card-hover {
  @extend .border;

  transition: 0.25s;

  &:hover, &:focus {
    --bs-border-opacity: 1;
    border-color: rgba($cyan, var(--bs-border-opacity)) !important;
  }
}


.bi {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}


.color-modes {
  .dropdown-menu {
    padding: .25rem;

    li + li {
      margin-top: .125rem;
    }
  }

  .dropdown-item {
    @include border-radius(.25rem);
  }

  .active {
    font-weight: 600;

    .bi {
      display: block !important; // stylelint-disable-line declaration-no-important
    }
  }
}


.navbar {
  @include gradient-x($blue, $cyan);
  
  .nav-link {
    @extend .text-light;
    //@extend .text-body;

    text-decoration: underline;
    text-decoration-color: transparent;

    transition: text-decoration 200ms;
    transition-timing-function: ease-in;

    &.active, &:hover, &:focus {
      //@extend .text-decoration-underline;
      text-decoration-color: currentColor;

    }
  }
  
}


.banner {
    //@extend .d-flex;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/

    & > header {
        /*display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        position: absolute;*/
        //position: absolute;
        background: rgba($color: $white, $alpha: .8);
    }
}

/*#particles-js, #particle-js > canvas {
    max-height: 25vw;
}*/


/*
.navbar-sensorlab {
    .navbar-brand {
      color: $navbar-dark-brand-color;

      &:hover,
      &:focus {
        color: $navbar-dark-brand-hover-color;
      }
    }

    .navbar-nav {
      .nav-link {
        color: $navbar-dark-color;

        text-decoration: underline rgba(0, 0, 0, 0);
        transition: text-decoration-color 250ms;


        &:hover,
        &:focus {
          color: $navbar-dark-hover-color;
          //font-weight: bolder;
          text-decoration-color: $navbar-dark-hover-color;


        }

        &.disabled {
          color: $navbar-dark-disabled-color;
        }
      }

      .show > .nav-link,
      .nav-link.active {
        color: $navbar-dark-active-color;
      }
    }

    .navbar-toggler {
      color: $navbar-dark-color;
      border-color: $navbar-dark-toggler-border-color;
    }

    .navbar-toggler-icon {
      background-image: escape-svg($navbar-dark-toggler-icon-bg);
    }

    .navbar-text {
      color: $navbar-dark-color;
      a,
      a:hover,
      a:focus {
        color: $navbar-dark-active-color;
      }
    }
  }
*/

/*
hr {
    background: linear-gradient(to right, $blue, $cyan);
}*/


a.link-unstyled, a.remove-styling {

    color: $body-color;
    text-decoration: none;

    &:hover {
        color: $body-color;
        text-decoration: none;
    }


    /*
    &, &:hover, &:focus, &visited {
        text-decoration: none;
    }*/


    & > .card {
        transition: 0.25s;

        &:hover, &:focus {
            border-color: $cyan;
        }
    }

}


