<!--
<footer class="footer bg-light text-center text-black">
    <div class="container d-flex">
        <span>

        </span>

        <span>
            Copyright &copy; SensorLab 2014 &mdash; 2021, Jožef Stefan Institute
        </span>

    </div>
</footer>
-->

<footer class="footer bg-light text-center text-black">
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <a class="btn btn-outline-dark btn-floating m-1" role="button">F</a>
            <a class="btn btn-outline-dark btn-floating m-1" role="button">T</a>
        </section>
    </div>

  <div class="text-center p-3">
    &copy; 2014 Copyright <a class="text-white" href="#">SensorLab</a>
  </div>
  <!-- Copyright -->

</footer>
