{{- $logo := resources.Get "images/sensorlab-color.svg" | minify -}}


<footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-6 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <img src="{{ $logo.Permalink }}" style="height:2.5rem">
    </a>
    <span class="text-body-secondary">&copy; 2014&nbsp;&dash;&nbsp;{{ now.Format "2006" }} SensorLab, Jozef Stefan Institute</span>
  </div>

  <ul class="nav col-md-6 justify-content-center justify-content-xs-right list-unstyled d-flex flex-wrap">
    <li class="ms-3">
      <a class="text-body-secondary" target="_blank" href="https://github.com/sensorlab">GitHub</a>
    </li>
    <li class="ms-3">
      <a class="text-body-secondary" target="_blank" href="https://twitter.com/CommSysJSI">Twitter</a>
    </li>
    <li class="ms-3">
      <a class="text-body-secondary" target="_blank" href="https://www.researchgate.net/institution/Joef_Stefan_Institute/department/Komunikacijski_sistemi">ResearchGate</a>
    </li>
    <li class="ms-3">
      <a class="text-body-secondary" target="_blank" href="https://e6.ijs.si/">Department's site</a>
    </li>
  </ul>

</footer>


