<footer class="footer bg-light text-center text-black">
    <!--
    <div class="container p-4 pb-0 d-flex justify-content-evenly">
        <section class="mb-4">
            <a class="btn btn-outline-dark btn-floating m-1" role="button">F</a>
            <a class="btn btn-outline-dark btn-floating m-1" role="button">T</a>
        </section>

        <section class="mb-4">
            <a class="btn btn-outline-dark btn-floating m-1" role="button">F</a>
            <a class="btn btn-outline-dark btn-floating m-1" role="button">T</a>
        </section>
    </div>
    -->
  <div class="text-center p-3">
    &copy; 2014 &mdash; 2021 Copyright <a class="text-dark" href="{{ .Permalink }}">SensorLab</a>
  </div>
</footer>
