<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {{ $opts := (dict "inlineImports" true "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $css := resources.Get "styles/app.scss" | toCSS $opts | postCSS | minify | fingerprint }}
    <link href="{{ $css.RelPermalink }}" rel="stylesheet" integrity="{{ $css.Data.Integrity }}" />


    {{ $opts := dict "noComments" true }}
    {{ $js := resources.Get "scripts/app.js" | babel $opts | js.Build | fingerprint }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}"  integrity="{{ $js.Data.Integrity }}" defer></script>

    {{ partial "seo.html" . }}
</head>
