{{- $logo := resources.Get "images/sensorlab.svg" -}}

<header class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a href="#" class="navbar-brand">
      <img src="{{ $logo.Permalink }}" alt="" class="d-inline-block align-top me-2" height="30">
      {{- .Site.Title -}}
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ms-0 ms-md-auto  ps-4 border-bottom">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {{- .Pre -}}<span>{{- .Name -}}</span>{{- .Post -}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {{ range .Children }}
                  <a class="dropdown-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}"
                      href="{{ .URL }}">
                      {{- .Pre -}}<span>{{- .Name -}}</span>{{- .Post -}}
                  </a>
                  {{ end }}
              </div>
          </li>
          {{ else }}
          <li class="nav-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
              <a class="nav-link" href="{{ .URL }}">
                  {{- .Pre -}}<span>{{- .Name -}}</span>{{- .Post -}}
              </a>
          </li>
          {{ end }}
          {{ end }}
      </ul>
    </nav>
  </div>
</header>
