{{ $logo := resources.Get "images/sensorlab.svg" }}

{{- $currentPage := . -}}
<header class="navbar navbar-theme navbar-expand-md">
    <div class="container border-bottom">
        <a class="navbar-brand mb-0" href="{{ .Site.BaseURL }}">
            <img src="{{ $logo.Permalink }}" alt="" width="30" height="24" class="d-inline-block align-text-top">&nbsp;{{- .Site.Title -}}
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <nav class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ms-auto">
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="nav-item dropdown{{ if $currentPage.IsMenuCurrent " main" . }} active{{ end }}">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{- .Pre -}}<span>{{- .Name -}}</span>{{- .Post -}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{ range .Children }}
                        <a class="dropdown-item{{ if $currentPage.IsMenuCurrent " main" . }} active{{ end }}"
                            href="{{ .URL }}">
                            {{- .Pre -}}<span>{{- .Name -}}</span>{{- .Post -}}
                        </a>
                        {{ end }}
                    </div>
                </li>
                {{ else }}
                <li class="nav-item{{ if $currentPage.IsMenuCurrent " main" . }} active{{ end }}">
                    <a class="nav-link" href="{{ .URL }}">
                        {{- .Pre -}}<span>{{- .Name -}}</span>{{- .Post -}}
                    </a>
                </li>
                {{ end }}
                {{ end }}
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-label="Toggle dark and light theme">
                        <span id="dark"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
