{{ define "main" }}

{{- $logo := resources.Get "images/sensorlab-color.svg" | minify -}}

<main class="flex-fill" aria-role="main">
  <header class="d-flex flex-column justify-content-center align-items-center text-center my-4" style="min-height: 33vh;">
      <img src="{{ $logo.Permalink }}" alt="SensorLab logo" class="d-block mx-auto my-4" style="max-width:min(100vw, 500px);">
      <h1 class="my-2">{{ .Title | title }}</h1>
      <div class="col-lg-6 mx-auto lead mb-6">
        {{ .Content }}
      </div>
  </header>

  <!--
  <header class="py-5 text-center">
    <img class="d-block mx-auto my-4" src="{{ $logo.Permalink }}" alt="SensorLab logo" height="128">
    <h1 class="my-2">{{ .Title | title }}</h1>
    <div class="col-lg-6 mx-auto lead mb-6">
      {{ .Content }}
    </div>
  </header>
  -->


  <!-- Fatures & Benefits, or research topics -->
  <section class="container mt-4 featured">
    <div class="row d-flex align-items-end">
      {{ $pageScope := . }}
      {{ $sections := (where .Pages "Section" "==" "") }}
      {{ range $index, $page := $sections.ByParam "position" }}
      <div class="mb-3 col-12 col-md-6 col-lg-4 col-xxl-4">
        {{ $img := $pageScope.Page.Resources.GetMatch .Params.featured_image }}

        {{ if ne $img.MediaType.SubType "svg" }}
          {{ $img = $img.Fit "250x192" }}
        {{ end }}
        
        <input type="checkbox" id="featured-{{ $index }}" class="read-more" />
        <div class="my-2 mx-5 text-center">
          <img src="{{ $img.Permalink }}" class="img-fluid">
        </div>
        <div class="text-center">
          <h2 class="h3">{{ .Title | title }}</h2>
        </div>
        <div class="summary text-justify">
          {{ $page.Content | truncate 140 }}
        </div>
  
        <div class="full text-justify">
          {{ $page.Content }}
        </div>
  
        <label for="featured-{{ $index }}"></label>
      </div>
      {{ end }}
  
  
    </div>
  </section>

<!-- TODO: Featured posts -->


<!-- TODO: Featured Projects -->


{{/*
  <div class="container">
    {{ $pageScope := . }}
    {{ range $index, $page := (where .Pages "Section" "==" "") }}
      <section class="row flex-lg-row{{ if not (modBool $index 2) }}-reverse{{ end }} align-items-top g-5 py-5">
        <div class="col-12 col-md-6 col-lg-6">
          {{ $original := $pageScope.Page.Resources.GetMatch ($page.Params.featured_image) }}
          {{ $img := $original.Fit "700x400" }}
          <img src="{{ $img.Permalink }}" class="d-block mx-lg-auto img-fluid rounded" loading="lazy">
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">{{ $page.Title }}</h1>
          <hr>
          <p class="lead">{{ $page.Content }}</p>

          <p class="card-text">
            <a href="#" class="btn btn-md btn-sensorlab">Read More</a>
          </p>

        </div>
      </section>
    {{ end }}
*/}}

</main>






{{/*

<main class="flex-fill" aria-role="main">


<header class="px-4 py-5 text-center">
  <img class="d-block mx-auto mb-4" src="{{ $logo.Permalink }}" alt="SensorLab logo" height="128">
  <h1>{{ .Title }}</h1>
  <div class="col-lg-6 mx-auto lead mb-6">
    {{ .Content }}
  </div>
</header>

<div class="container">
  {{ $pageScope := . }}
  {{ range $index, $page := (where .Pages "Section" "==" "") }}
    <section class="row flex-lg-row{{ if not (modBool $index 2) }}-reverse{{ end }} align-items-top g-5 py-5">
      <div class="col-12 col-md-6 col-lg-6">
        {{ $original := $pageScope.Page.Resources.GetMatch ($page.Params.featured_image) }}
        {{ $img := $original.Fit "700x400" }}
        <img src="{{ $img.Permalink }}" class="d-block mx-lg-auto img-fluid rounded" loading="lazy">
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{ $page.Title }}</h1>
        <hr>
        <p class="lead">{{ $page.Content }}</p>

        <p class="card-text">
          <a href="#" class="btn btn-md btn-sensorlab">Read More</a>
        </p>

      </div>
    </section>
  {{ end }}

</div>

</main>
*/}}
{{ end }}
