{{ define "main" }}
{{ $publications := where $.Site.Data.cobiss "code" "in" (slice "1.01" "1.08") }}

<main class="flex-fill container my-4" aria-role="main">
    <h1>{{ .Title | title }}</h1>

    <section>
        <h2>Journals:</h2>
        {{ $journals := where $.Site.Data.cobiss "code" "eq" "1.01" }}
        <ul class="list-group list-group-flush">
            {{ range sort $journals "year" "desc" }}
                {{ if ge .year ((now.AddDate -5 0 0).Format "2006") }}
                    {{ $authors := slice }}
                    {{ range sort .authors ".order" "asc" }}
                        {{ $authors = $authors | append (printf "%s. %s" (substr .first_name 0 1) .last_name) }}
                    {{ end }}

                    <li class="list-group-item">
                        <span>{{- delimit $authors ", " -}}:</span>
                        <span><strong>{{ .title | title }}</strong></span>,
                        <span>{{ .journal | default .conf_title | title }}, {{ .year }}</span>
                        <ul class="list-unstyled d-flex">
                            {{- if .doi -}}<li>[DOI:<a href="https://doi.org/{{ .doi }}">{{ .doi }}</a>]</li>{{- end -}}
                            {{- if and .cobiss_id .cobiss_url -}}<li class="ms-2">[COBISS:<a href="{{ .cobiss_url }}">{{ .cobiss_id }}</a>]</li>{{ end }}
                        </ul>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </section>


    <section>
        <h2>Conferences:</h2>
        {{ $journals := where $.Site.Data.cobiss "code" "eq" "1.08" }}
        <ul class="list-group list-group-flush">
            {{ range sort $journals "year" "desc" }}
                {{ if ge .year ((now.AddDate -5 0 0).Format "2006") }}
                    {{ $authors := slice }}
                    {{ range sort .authors ".order" "asc" }}
                        {{ $authors = $authors | append (printf "%s. %s" (substr .first_name 0 1) .last_name) }}
                    {{ end }}

                    <li class="list-group-item">
                        <span>{{- delimit $authors ", " -}}</span>
                        <span><strong>{{ .title | title }}</strong></span>,
                        <span>{{ .journal | default .conf_title | title }}, {{ .year }}</span>
                        <ul class="list-unstyled d-flex">
                            {{- if and .cobiss_id .cobiss_url -}}
                                <li>[COBISS:<a href="{{ .cobiss_url }}">{{ .cobiss_id }}</a>]</li>
                            {{ end }}
                            {{- if .doi -}}
                                <li class="ms-2">[DOI:<a href="https://doi.org/{{ .doi }}">{{ .doi }}</a>]</li>
                            {{- end -}}
                        </ul>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </section>

</main>
{{ end }}


{{/*





    */}}
