{{ define "main" }}
<main class="flex-fill container my-4" aria-role="main">
    <section>
      <h3>Visiting Address:</h3>
      <address>
        <strong>Department of Communication Systems &mdash; E6</strong><br>
        Jozef Stefan Institute<br>
        Jamova cesta 39, 1000 Ljubljana<br>
        Slovenia, Europe<br>
        <abbr title="Phone">Phone:</abbr> +386 1 000 0000<br>
        <abbr title="Email">Email:</abbr> sensorlab@ijs.si
      </address>
    </section>


    <section>
      <h3>Social:</h3>
      <ul class="list-unstyled d-flex">
        <li>
          <a class="btn btn-primary btn-floating m-1" href="mailto:sensorlab@ijs.si">E-Mail</a>
        </li>
        <li>
          <a class="btn btn-primary btn-floating m-1" href="#" role="button">Facebook</a>
        </li>
        <li>
          <a class="btn btn-primary btn-floating m-1" href="#" role="button">Twitter</a>
        </li>
        <li>
          <a class="btn btn-primary btn-floating m-1" href="#" role="button">COBISS</a>
        </li>
        <li>
          <a class="btn btn-primary btn-floating m-1" href="#" role="button">GScholar</a>
        </li>
        <li>
          <a class="btn btn-primary btn-floating m-1" href="#" role="button">ResearchGate</a>
        </li>
      </ul>
    </section>

</main>
{{ end }}
