{{ define "main" }}
<main class="flex-fill container my-4" aria-role="main">
    <section>
      <h3>Visiting Address:</h3>
      <address>
        <strong>Department of Communication Systems &mdash; E6</strong><br>
        Jozef Stefan Institute<br>
        Jamova cesta 39, 1000 Ljubljana<br>
        Slovenia, Europe<br>
        <abbr title="Phone">Phone:</abbr> <a href="tel:+38614773870">+386 1 477 38 70</a><br>
        <abbr title="Email">Email:</abbr> <a href="mailto:sensorlab@ijs.si">sensorlab@ijs.si</a>
      </address>
    </section>


    <section>
      <h3>Social:</h3>
      <ul class="list-unstyled d-flex">
        <li>
          <a class="btn btn-primary btn-floating m-1" href="mailto:sensorlab@ijs.si">E-Mail</a>
        </li>
        <li>
          <a class="btn btn-primary btn-floating m-1" href="https://twitter.com/CommSysJSI" role="button">Twitter</a>
        </li>
        <li>
          <a class="btn btn-primary btn-floating m-1" href="https://www.sicris.si/public/jqm/grp.aspx?lang=eng&opdescr=search&opt=2&subopt=600&code1=grp&code2=auto&psize=10&hits=1&page=1&count=1&id=1600&slng=eng&search_term=0106-004&order_by=" role="button">SICRIS</a>
        </li>
        <li>
          <a class="btn btn-primary btn-floating m-1" href="https://www.researchgate.net/lab/Mihael-Mohorcic-Lab" role="button">ResearchGate</a>
        </li>
      </ul>
    </section>
	
	<section class="d-flex">
		<div class="m-2">
      {{- $ijs := (resources.Get "images/ijs_logo.jpg").Resize "250x" -}}
      <a href="https://ijs.si/" target="_blank">
        <img src="{{ $ijs.Permalink }}">
      </a>
		</div>
		
		<div class="m-2">
      {{- $e6 := (resources.Get "images/e6_logo.png").Resize "250x" -}}
      <a href="https://e6.ijs.si" target="_blank">
        <img src="{{ $e6.Permalink }}">
      </a>
		</div>

	</section>
</main>
{{ end }}
